<div class="container">
	<div *ngIf="!cargando && task">
		<button type="button" class="btn btn-outline-primary float-right m-4" (click)="irATareas()">
			<fa-icon [icon]="faArrowCircleLeft" title="Atrás"></fa-icon>
			Atrás
		</button>
		<h5 class="display-4">{{ task.name }}</h5>
		<p class="lead">
			Esta tarea tiene como proposito subir la documentación para hacer seguimiento de la obra. Tenga en
			cuenta que cada día puede subir la documentación necesaria para el seguimiento de la obra. Por favor use
			el formato de referencia.
		</p>

		<div class="row">
			<p *ngIf="task" class="col text-left">
				<span class="badge badge-primary">Responsable:</span>
				<em>
					{{ task.assignee }}
				</em>
			</p>

			<p *ngIf="task && formKey" class="mr-5">
				<span class="badge badge-secondary">Finalizada:</span>
				<em>
					{{ task.endTime | date: 'short' }}
				</em>
			</p>
		</div>

		<div>
			<p>
				<span class="badge badge-info">Formato:</span>
				<a
					class="ml-2"
					href="https://www.uis.edu.co/intranet/calidad/documentos/contratacion/Formatos/FCO.62.doc"
				>
					FCO.62 Informe de Supervisión</a
				>
			</p>
		</div>

		<div class="mt-3" *ngIf="solicitud">
			<div *ngFor="let documento of documentsSeguimientoObra; let i = index" class="mt-3">
				<label>{{ documento.label }}</label>
				<div class="row m-1">
					<a
						[href]="documento.urldocument"
						target="_blank"
						class="list-group-item list-group-item-action list-group-item-primary mb-1 col-11 text-left"
						>{{ documento.name
						}}<span class="badge badge-pill badge-info float-right">{{ documento.fechaUp }}</span>
					</a>
					<button
						*ngIf="usuario && solicitud"
						type="button"
						class="btn btn-outline-danger btn-sm float-right mb-1 col ml-1"
						(click)="eliminarDocumento(i)"
						[disabled]="usuario.id != solicitud.usuario.id || formKey || documento.fechaUp !== fecha"
					>
						<fa-icon [icon]="faTrash" title="Borrar"></fa-icon>
					</button>
				</div>
			</div>
		</div>

		<div class="text-center mt-2" *ngIf="!formKey && usuario && solicitud">
			<button
				type="button"
				class="btn btn-outline-primary"
				(click)="agregarDocumento()"
				[disabled]="usuario.perfil.nombre != task.assignee"
			>
				<fa-icon [icon]="faPlus" title="Agregar"></fa-icon>
				Agregar documento
			</button>
		</div>

		<div class="text-right m-3" *ngIf="usuario">
			<button
				type="button"
				class="btn btn-primary mb-5"
				(click)="completarTarea()"
				[disabled]="
					documentsSeguimientoObra.length === 0 || formKey || usuario.perfil.nombre != task.assignee
				"
				*ngIf="solicitud"
			>
				Terminar
				<fa-icon [icon]="faSave" title="Enviar"></fa-icon>
			</button>
		</div>
	</div>
	<!--Div para mostrar un mensaje de cargando mientras se obtiene la información del formulario de la base de datos-->
	<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster container">
		<h4 class="alert-heading">Cargando</h4>
		<p>
			<fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
		</p>
		<p class="mb-0">
			Espere por favor
		</p>
	</div>
</div>

<!--Modal nuevo documento-->
<div
	class="modal fade"
	id="addDocumento"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModal"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModal">Agregar documento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form
					#formAddDocumento="ngForm"
					(ngSubmit)="guardarDocumento(formAddDocumento)"
					novalidate=""
					class="form-signin"
				>
					<div class="form-group mb-2">
						<label for="nombreM" class="col-form-label">Tipo de documento</label>
						<div class="mt-2">
							<select
								class="form-control"
								#selectTipo="ngModel"
								name="selectTipo"
								[ngClass]="{
									'is-invalid': formAddDocumento.submitted && formAddDocumento.controls['selectTipo'].errors
								}"
								[(ngModel)]="newDocumento.label"
								npm
								required
							>
								<option value="null" disabled>Seleccione un tipo de documento</option>
								<option *ngFor="let documento of tiposDocuments" [value]="documento.name">
									{{ documento.name }}
								</option>
							</select>
							<div
								class="invalid-feedback animated fadeIn"
								*ngIf="formAddDocumento.submitted && formAddDocumento.controls['selectTipo'].errors"
							>
								Elige un tipo de documento.
							</div>
						</div>
						<div class="form-group mt-2" *ngIf="newDocumento.label == 'Otro'">
							<input
								class="form-control"
								id="otroLabelN"
								minlength="10"
								type="text"
								#otroLabelN="ngModel"
								[(ngModel)]="otroLabel"
								maxlength="500"
								required
								placeholder="Tipo de documento"
								name="otroLabelN"
								[ngClass]="{
									'is-invalid':
										formAddDocumento.submitted &&
										formAddDocumento.controls['otroLabelN'] &&
										formAddDocumento.controls['otroLabelN'].errors
								}"
							/>
							<div
								class="invalid-feedback animated fadeIn"
								*ngIf="
									formAddDocumento.submitted &&
									formAddDocumento.controls['otroLabelN'] &&
									formAddDocumento.controls['otroLabelN'].errors
								"
							>
								Introduce un nombre válido.
							</div>
						</div>
						<div class="input-group mt-2">
							<div class="custom-file" *ngIf="usuario">
								<input
									type="file"
									class="custom-file-input"
									id="inputOtroDocument"
									(change)="onUploadOtro($event)"
									aria-describedby="inputGroupFile01"
								/>
								<label
									*ngIf="newDocumento && newDocumento.name"
									class="custom-file-label"
									for="inputOtroDocument"
									data-browse="Elegir"
									>{{ newDocumento.name }}</label
								>
								<label
									*ngIf="newDocumento && !newDocumento.name"
									class="custom-file-label"
									for="inputOtroDocument"
									data-browse="Elegir"
									>Elige un archivo</label
								>
							</div>
							<div class="input-group-append">
								<button
									*ngIf="urlDocOtro | async; else btnDisabled"
									class="btn btn-outline-secondary"
									type="button"
									id="inputOtroDocument1"
									(click)="subirArchivoOtro()"
								>
									Guardar
								</button>
								<ng-template #btnDisabled>
									<button
										class="btn btn-outline-secondary btn-block"
										type="button"
										id="inputOtroDocument2"
										disabled="true"
									>
										Guardar
									</button>
								</ng-template>
							</div>
						</div>

						<div *ngIf="nameUpOtro" class="progress">
							<div
								class="progress-bar progress-bar-striped bg-primary"
								role="progressbar"
								[style.width]="(uploadPercentOtro | async) + '%'"
							>
								{{ uploadPercentOtro | async | number: '1.0-0' }}%
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="cerrarModalDocumento(formAddDocumento)">
							Cerrar
						</button>
						<button
							type="submit"
							class="btn btn-primary"
							[disabled]="!formAddDocumento.form.valid || !newDocumento.urldocument"
						>
							Guardar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
