<div class="container" *ngIf="task">
  <button type="button" class="btn btn-outline-primary float-right m-4" (click)="irATareas()">
    <fa-icon [icon]="faArrowCircleLeft" title="Atrás"></fa-icon>
    Atrás
  </button>
  <h5 class="display-4">{{ task.name }}</h5>
  <p class="lead">
    Este apartado es un espacio para indicar que se estan obteniendo los materiales necesarios para llevar a cabo
    la reforma del espacio.
  </p>
  <div class="row">
    <p *ngIf="task" class="col text-left">
      <span class="badge badge-primary">Responsable:</span>
      <em>
        {{ task.assignee }}
      </em>
    </p>

    <p *ngIf="task && formKey" class="mr-5">
      <span class="badge badge-secondary">Finalizada:</span>
      <em>
        {{ task.endTime | date:'short' }}
      </em>
    </p>
  </div>

  <div class="alert alert-secondary text-center mt-3 animated fadeIn faster container">
    <h4 class="alert-heading">Obteniendo materiales</h4>
    <p>
      <fa-icon [icon]="faExclamationTriangle" size="4x"></fa-icon>
    </p>
    <p class="mb-0">
      Espere por favor
    </p>
  </div>

  <hr class="my-4">
  <p>Una vez se termine la obtención de materiales se debe dar click en terminar </p>
  <button type="button" class="btn btn-outline-primary float-right mr-3" (click)="completarTarea()" [disabled]="usuario && usuario.perfil.nombre != task.assignee || formKey || usuario.id != interventorId" *ngIf="usuario">Terminar</button>
</div>
