<div class="col" *ngIf="!isCreador">
	<div class="jumbotron">

		<img src="../assets/img/error.png" id="img">
		<div id="centrado">
			<h2>No puedes hacer solicitudes</h2>
			<p>No cuentas con los permisos para realizar solicitudes.</p>
		</div>
	</div>
</div>


<div class="container" *ngIf="isCreador">
  <div class="jumbotron">
    <h3 class="mb-3">Iniciar proceso</h3>
    <span>Selecciona el proceso que quieres iniciar</span>
    <ul class="processDefinitions mt-3">
      <li *ngFor="let processDefinition of processDefinitions">
        <p><a [routerLink]="['/modProceso/startprocess/', processDefinition.key, idCapa, edif, idSubCapa, subCapa, elem, piso]">{{ processDefinition.name }}</a></p>
      </li>
    </ul>
  </div>
</div>
