<!--Unidades-->

<div *ngIf="!cargarUnidades" class="container mt-4">

    <div class="row mt-2">
      <div class="col">
          <h3>Unidades Academico y/o Administrativas</h3>
      </div>
      <div class="col text-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unidadModal" data-whatever="@getbootstrap">
              <fa-icon [icon]="faPlus"></fa-icon>
              Nuevo
            </button>
      </div>
    </div>
    <table *ngIf="!cargarUnidades && unidades.length > 0"
           class="table mt-3 animated fadeIn faster animated fadeIn faster">
      <thead class="thead-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>

          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let unidad of unidades; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ unidad.nombre }}</td>
          <td>{{ unidad.descripcion }}</td>

          <td>
            <button routerLink="/heroe/nuevo"
                    class="btn btn-primary">
              <fa-icon [icon]="faPen" title="Editar"></fa-icon>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!cargarUnidades && unidades.length === 0"
         class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay unidades</h4>
        <p>
          <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>
  </div>


  <div *ngIf="cargarUnidades"
       class="alert alert-info text-center mt-3 animated fadeIn faster container">
    <h4 class="alert-heading">Cargando unidades</h4>
    <p>
      <fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
    </p>
    <p class="mb-0">
      Espere por favor
    </p>
  </div>

 <!--Modal unidad-->
 <div class="modal fade" id="unidadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva unidad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #formRegistro="ngForm" (ngSubmit)="guardarUnidad(formRegistro)" novalidate="" class="form-signin">
            <div class="form-group">
              <label for="nombre" class="col-form-label">Nombre:</label>
              <input type="text"
                     class="form-control"
                     #nombre="ngModel"
                     [(ngModel)]="unidad.nombre"
                     id="nombre"
                     minlength="10"
                     maxlength="40"
                     required
                     name="nombre"
                     [ngClass]="{'is-invalid': formRegistro.submitted && formRegistro.controls['nombre'].errors}">
              <div class="invalid-feedback animated fadeIn" *ngIf="formRegistro.submitted && formRegistro.controls['nombre'].errors">
                        Introduce un nombre válido.
              </div>
            </div>
            <div class="form-group">
              <label for="descripcion" class="col-form-label">Descripción:</label>
              <input class="form-control"
                        id="descripcion"
                        minlength="10"
                        type="text"
                        #descripcion="ngModel"
                        [(ngModel)]="unidad.descripcion"
                        maxlength="100"
                        required
                        name="descripcion"
                        [ngClass]="{'is-invalid': formRegistro.submitted && formRegistro.controls['descripcion'].errors}"
                        >
              <div class="invalid-feedback animated fadeIn" *ngIf="formRegistro.submitted && formRegistro.controls['descripcion'].errors">
                            Introduce un nombre válido.
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
