<!--Div para mostrar un mensaje de cargando mientras se obtienen las solicitudes de la base de datos-->
<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn faster container">
  <h4 class="alert-heading">Cargando</h4>
  <p>
      <fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>

<div *ngIf="!cargando" class="mt-5">
  <div *ngIf="reforma" class="offset-lg-3 col-lg-5 main-section card">
    <div class="user-details">

      <div class="row">
        <img src="../../../../assets/img/mecanica.png" class="col img-fluid img-thumbnail m-2 images" alt="Edificio">

        <div class="col m-2">
          <p> <strong> Solicitante: </strong><br>
            <a [routerLink]="['/modIn/perfil', reforma.usuario.id]">{{ reforma.usuario.nombres }}</a>
          </p>
          <p> <strong> Descripción: </strong><br>
              {{ reforma.descripcion }}
          </p>
        </div>

        <table class="table table-responsive m-2 text-center">
          <thead>
            <tr>
              <th scope="col">Edificio</th>
              <th scope="col">Piso</th>
              <th scope="col">Capa</th>
              <th scope="col">ObjetoID</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ reforma.nombre_edificio }}</td>
              <td>{{ reforma.piso_edificio }}</td>
              <td> {{ reforma.nombre_subcapa }}</td>
              <td>{{ reforma.objectID }}</td>
              <td>{{ reforma.fecha }}</td>
            </tr>
          </tbody>
        </table>
        <button class="m-1 btn btn-outline-primary btn-block" [routerLink]="['/modProceso/tasklist', reforma.idProccess]">Ver proceso</button>
      </div>
    </div>
  </div>

  <div *ngIf="!reforma"
        class="alert alert-primary text-center animated fadeIn faster offset-lg-4 col-lg-4 col-sm-6 col-12 main-section card mt-5">
    <h4 class="alert-heading">Reforma no encontrada</h4>
    <p>
      <fa-icon [icon]="faExclamation" size="3x"></fa-icon>
    </p>
  </div>
</div>
