<!--Unidades-->
<div *ngIf="!cargarDocumentos" class="container mt-4">
	<div class="row mt-2">
		<div class="col">
			<h3>Tipos de documentos</h3>
		</div>
		<div class="col text-right">
			<button
				type="button"
				class="btn btn-primary"
				data-toggle="modal"
				data-target="#documentoModal"
				data-whatever="@getbootstrap"
			>
				<fa-icon [icon]="faPlus" title="Nuevo"></fa-icon>
				Nuevo
			</button>
		</div>
	</div>
	<table
		*ngIf="!cargarDocumentos && documentos.length > 0"
		class="table mt-3 mb-5 animated fadeIn faster animated fadeIn faster"
	>
		<thead class="thead-light">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Descripción</th>

				<th scope="col">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let documento of documentos; let i = index">
				<th scope="row">{{ i + 1 }}</th>
				<td>{{ documento.name }}</td>
				<td>{{ documento.descripcion }}</td>

				<td>
					<button (click)="abrirModal(documento)" class="btn btn-primary">
						<fa-icon [icon]="faPen" title="Editar"></fa-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div
		*ngIf="!cargarDocumentos && documentos.length === 0"
		class="alert alert-warning text-center mt-3 animated fadeIn faster"
	>
		<h4 class="alert-heading">No se han agregado ningún tipo de documento</h4>
		<p>
			<fa-icon [icon]="faExclamation" size="3x"></fa-icon>
		</p>
	</div>
</div>

<div *ngIf="cargarDocumentos" class="alert alert-info text-center mt-3 animated fadeIn faster container">
	<h4 class="alert-heading">Cargando</h4>
	<p>
		<fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
	</p>
	<p class="mb-0">
		Espere por favor
	</p>
</div>

<!--Modal documento-->
<div
	class="modal fade"
	id="documentoModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel1">Nuevo documento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form
					#formRegistro="ngForm"
					(ngSubmit)="guardarDocumento(formRegistro)"
					novalidate=""
					class="form-signin"
				>
					<div class="form-group">
						<label for="nombre" class="col-form-label">Nombre:</label>
						<input
							type="text"
							class="form-control"
							#nombreU="ngModel"
							[(ngModel)]="documento.name"
							id="nombreU"
							minlength="3"
							maxlength="40"
							required
							name="nombreU"
							[ngClass]="{ 'is-invalid': formRegistro.submitted && formRegistro.controls['nombreU'].errors }"
						/>
						<div
							class="invalid-feedback animated fadeIn"
							*ngIf="formRegistro.submitted && formRegistro.controls['nombreU'].errors"
						>
							Introduce un nombre válido.
						</div>
					</div>
					<div class="form-group">
						<label for="descripcion" class="col-form-label">Descripción:</label>
						<input
							class="form-control"
							id="descripcionU"
							minlength="10"
							type="text"
							#descripcionU="ngModel"
							[(ngModel)]="documento.descripcion"
							maxlength="100"
							required
							name="descripcionU"
							[ngClass]="{
								'is-invalid': formRegistro.submitted && formRegistro.controls['descripcionU'].errors
							}"
						/>
						<div
							class="invalid-feedback animated fadeIn"
							*ngIf="formRegistro.submitted && formRegistro.controls['descripcionU'].errors"
						>
							Introduce un nombre válido.
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="cerrarModal(formRegistro)">
							Cerrar
						</button>
						<button type="submit" class="btn btn-primary">Guardar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--Modal update documento-->
<div
	class="modal fade"
	id="updateDocumentoModal"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Actualizar documento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form
					#formUpdate="ngForm"
					(ngSubmit)="actualizarDocumento(formUpdate)"
					novalidate=""
					class="form-signin"
				>
					<div class="form-group">
						<label for="nombre" class="col-form-label">Nombre:</label>
						<input
							type="text"
							class="form-control"
							#nombre="ngModel"
							[(ngModel)]="documentoT.name"
							id="nombre"
							minlength="3"
							maxlength="40"
							required
							name="nombre"
							[ngClass]="{ 'is-invalid': formUpdate.submitted && formUpdate.controls['nombre'].errors }"
						/>
						<div
							class="invalid-feedback animated fadeIn"
							*ngIf="formUpdate.submitted && formUpdate.controls['nombre'].errors"
						>
							Introduce un nombre válido.
						</div>
					</div>
					<div class="form-group">
						<label for="descripcion" class="col-form-label">Descripción:</label>
						<input
							class="form-control"
							id="descripcion"
							minlength="10"
							type="text"
							#descripcion="ngModel"
							[(ngModel)]="documentoT.descripcion"
							maxlength="100"
							required
							name="descripcion"
							[ngClass]="{ 'is-invalid': formUpdate.submitted && formUpdate.controls['descripcion'].errors }"
						/>
						<div
							class="invalid-feedback animated fadeIn"
							*ngIf="formUpdate.submitted && formUpdate.controls['descripcion'].errors"
						>
							Introduce un nombre válido.
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="cerrarModalUpdate(formUpdate)">
							Cerrar
						</button>
						<button type="submit" class="btn btn-primary">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
