<div id="content" class="col-lg-12">
	<header id="header" class="row justify-content-md-center" [style.background]="header_color">
		<h1 class="col col-lg-2">{{title}}</h1>

		<nav id="nav" class="col col-lg-10">
			<ul>
				 <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Home</a></li>
				<li><a [routerLink]="['/solicitudes']" [routerLinkActive]="['activado']">Solicitudes</a></li>
				<li><a [routerLink]="['/crear-solicitud']" [routerLinkActive]="['activado']">Hacer Solicitud</a></li>
			</ul>
		</nav>
	</header>

	<section id="main" class="col-lg-12">
		<!-- Componente actual -->
		<router-outlet></router-outlet>
	</section>

	<footer id="footer" class="col-lg-12">
		<p>Pie de página</p>
	</footer>
</div>
