.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
}

.dropdown-item:hover{
  background: #E0E0E0;
}

.dataPerfil{
  width:50%;
  height:20%;
}

.alinear{
  text-align: right;
  padding: 0px !important;
  margin: 0px !important;
  max-width: 90px;
  max-height: 100px;
}

.alCentro{
  text-align: center;
}

span.perfil{
  font-family: "Consolas", monospace;
}
