<div class="container">
	<div *ngIf="!cargando && task">
		<button type="button" class="btn btn-outline-primary float-right m-4" (click)="irATareas()">
			<fa-icon [icon]="faArrowCircleLeft" title="Atrás"></fa-icon>
			Atrás
		</button>
		<h5 class="display-4">{{ task.name }}</h5>
		<p class="lead">
			En esta tarea el solicitante debe subir su informe finaniciero. Este informe debe incluir: Pantallazo
			Certificado de Disponibilidad Presupuestal (CDP) y evaluación de cotización.
		</p>

		<div class="row" *ngIf="solicitud">
			<p *ngIf="task" class="col text-left">
				<span class="badge badge-primary">Responsable:</span>
				<em>
					{{ solicitud.usuario.nombres }}
				</em>
			</p>
			<button
				type="button"
				class="btn btn-outline-secondary btn-sm mr-4"
				(click)="abrirModal()"
				*ngIf="comentarios.length > 0"
			>
				Comentarios
			</button>
			<p *ngIf="task && formKey" class="mr-5">
				<span class="badge badge-secondary">Finalizada:</span>
				<em>
					{{ task.endTime | date: 'short' }}
				</em>
			</p>
		</div>

		<div>
			<p>
				<span class="badge badge-info">Formatos:</span>

				<a
					class="ml-2"
					href="https://www.uis.edu.co/intranet/calidad/documentos/contratacion/Formatos/FCO.59.doc"
					>Evaluación de cotización (Parte 2)</a
				>
			</p>
		</div>

		<div class="container mt-3" *ngIf="solicitud">
			<label>Evaluación de cotización</label>
			<div class="input-group" *ngIf="!formKey">
				<div class="custom-file" *ngIf="usuario">
					<input
						type="file"
						class="custom-file-input"
						id="inputGroupFile01"
						accept=".pdf"
						(change)="onUpload($event)"
						aria-describedby="inputGroupFileAddon01"
						[disabled]="usuario.nombres != solicitud.usuario.nombres"
					/>
					<label
						*ngIf="document.name"
						class="custom-file-label"
						for="inputGroupFile01"
						data-browse="Elegir"
						>{{ document.name }}</label
					>
					<label *ngIf="!document.name" class="custom-file-label" for="inputGroupFile01" data-browse="Elegir"
						>Elige un archivo</label
					>
				</div>
				<div class="input-group-append">
					<button
						*ngIf="urlDoc | async; else btnDisabled"
						class="btn btn-outline-secondary"
						type="button"
						id="inputGroupFileAddon01"
						(click)="subirArchivo()"
					>
						Guardar
					</button>
					<ng-template #btnDisabled>
						<button
							class="btn btn-outline-secondary btn-block"
							type="button"
							id="inputGroupFileAddon01"
							disabled="true"
						>
							Guardar
						</button>
					</ng-template>
				</div>
			</div>

			<div *ngIf="document && document.name && !document.urldocument" class="progress">
				<div
					class="progress-bar progress-bar-striped bg-primary"
					role="progressbar"
					[style.width]="(uploadPercent | async) + '%'"
				>
					{{ uploadPercent | async | number: '1.0-0' }}%
				</div>
			</div>
			<div *ngIf="formKey">
				<a
					[href]="document.urldocument"
					target="_blank"
					class="list-group-item list-group-item-action list-group-item-dark mb-1"
					>{{ document.name }}</a
				>
			</div>
		</div>

		<div class="container mt-3" *ngIf="solicitud">
			<label>CDP</label>
			<div class="input-group" *ngIf="!formKey">
				<div class="custom-file" *ngIf="usuario">
					<input
						type="file"
						class="custom-file-input"
						id="inputGroupFile02"
						accept=".pdf"
						(change)="onUpload2($event)"
						aria-describedby="inputGroupFileAddon02"
						[disabled]="usuario.nombres != solicitud.usuario.nombres"
					/>
					<label
						*ngIf="document2.name"
						class="custom-file-label"
						for="inputGroupFile02"
						data-browse="Elegir"
						>{{ document2.name }}</label
					>
					<label *ngIf="!document2.name" class="custom-file-label" for="inputGroupFile02" data-browse="Elegir"
						>Elige un archivo</label
					>
				</div>
				<div class="input-group-append">
					<button
						*ngIf="urlDoc2 | async; else btnDisabled"
						class="btn btn-outline-secondary"
						type="button"
						id="inputGroupFileAddon02"
						(click)="subirArchivo2()"
					>
						Guardar
					</button>
					<ng-template #btnDisabled>
						<button
							class="btn btn-outline-secondary btn-block"
							type="button"
							id="inputGroupFileAddon02"
							disabled="true"
						>
							Guardar
						</button>
					</ng-template>
				</div>
			</div>

			<div *ngIf="document2 && document2.name && !document2.urldocument" class="progress">
				<div
					class="progress-bar progress-bar-striped bg-primary"
					role="progressbar"
					[style.width]="(uploadPercent2 | async) + '%'"
				>
					{{ uploadPercent2 | async | number: '1.0-0' }}%
				</div>
			</div>
			<div *ngIf="formKey">
				<a
					[href]="document2.urldocument"
					target="_blank"
					class="list-group-item list-group-item-action list-group-item-dark mb-1"
					>{{ document2.name }}</a
				>
			</div>
		</div>

		<div *ngFor="let documento of documents" class="container mt-3">
			<div *ngIf="documento.id !== document.id && documento.id !== document2.id">
				<label>{{ documento.label }}</label>
				<a
					[href]="documento.urldocument"
					target="_blank"
					class="list-group-item list-group-item-action list-group-item-primary mb-1"
					>{{ documento.name }}</a
				>
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn btn-outline-primary mt-3" (click)="agregarDocumento()">
				<fa-icon [icon]="faPlus" title="Agregar"></fa-icon>
				Agregar documento
			</button>
		</div>

		<div class="text-right m-3" *ngIf="usuario">
			<button
				type="button"
				class="btn btn-primary"
				(click)="completarTarea()"
				[disabled]="
					!document.urldocument ||
					formKey ||
					usuario.nombres != solicitud.usuario.nombres ||
					!document2.urldocument
				"
				*ngIf="solicitud"
			>
				Enviar
				<fa-icon [icon]="faSave" title="Enviar"></fa-icon>
			</button>
		</div>

		<!--Div para mostrar un mensaje de cargando mientras se obtiene la información del formulario de la base de datos-->
		<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster container">
			<h4 class="alert-heading">Cargando</h4>
			<p>
				<fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
			</p>
			<p class="mb-0">
				Espere por favor
			</p>
		</div>
	</div>

	<!--Modal comentario-->
	<div
		class="modal fade"
		id="verComentarios"
		tabindex="-1"
		role="dialog"
		aria-labelledby="exampleModalLabel"
		aria-hidden="true"
	>
		<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel1">Comentarios</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>
						Los siguientes son los comentarios que se han generado al rechazar la documentación enviada
						anteriormente. Por favor tengalos en cuenta y envíe el documento nuevamente.
					</p>
					<div *ngFor="let comentario of comentarios">
						<a class="list-group-item list-group-item-action list-group-item-secondary mb-1">{{
							comentario
						}}</a>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal nuevo documento-->
<div
	class="modal fade"
	id="addDocumento"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModal"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModal">Agregar documento</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form
					#formAddDocumento="ngForm"
					(ngSubmit)="guardarDocumento(formAddDocumento)"
					novalidate=""
					class="form-signin"
				>
					<div class="form-group mb-2">
						<label for="nombreM" class="col-form-label">Tipo de documento</label>
						<div class="mt-2">
							<select
								class="form-control"
								#selectTipo="ngModel"
								name="selectTipo"
								[ngClass]="{
									'is-invalid': formAddDocumento.submitted && formAddDocumento.controls['selectTipo'].errors
								}"
								[(ngModel)]="newDocumento.label"
								npm
								required
							>
								<option value="null" disabled>Seleccione un tipo de documento</option>
								<option *ngFor="let documento of tiposDocuments" [value]="documento.name">
									{{ documento.name }}
								</option>
							</select>
							<div
								class="invalid-feedback animated fadeIn"
								*ngIf="formAddDocumento.submitted && formAddDocumento.controls['selectTipo'].errors"
							>
								Elige un tipo de documento.
							</div>
						</div>
						<div class="form-group mt-2" *ngIf="newDocumento.label == 'Otro'">
							<input
								class="form-control"
								id="otroLabelN"
								minlength="10"
								type="text"
								#otroLabelN="ngModel"
								[(ngModel)]="otroLabel"
								maxlength="500"
								required
								placeholder="Tipo de documento"
								name="otroLabelN"
								[ngClass]="{
									'is-invalid':
										formAddDocumento.submitted &&
										formAddDocumento.controls['otroLabelN'] &&
										formAddDocumento.controls['otroLabelN'].errors
								}"
							/>
							<div
								class="invalid-feedback animated fadeIn"
								*ngIf="
									formAddDocumento.submitted &&
									formAddDocumento.controls['otroLabelN'] &&
									formAddDocumento.controls['otroLabelN'].errors
								"
							>
								Introduce un nombre válido.
							</div>
						</div>
						<div class="input-group mt-2">
							<div class="custom-file" *ngIf="usuario">
								<input
									type="file"
									class="custom-file-input"
									id="inputOtroDocument"
									(change)="onUploadOtro($event)"
									aria-describedby="inputGroupFile01"
								/>
								<label
									*ngIf="newDocumento && newDocumento.name"
									class="custom-file-label"
									for="inputOtroDocument"
									data-browse="Elegir"
									>{{ newDocumento.name }}</label
								>
								<label
									*ngIf="newDocumento && !newDocumento.name"
									class="custom-file-label"
									for="inputOtroDocument"
									data-browse="Elegir"
									>Elige un archivo</label
								>
							</div>
							<div class="input-group-append">
								<button
									*ngIf="urlDocOtro | async; else btnDisabled"
									class="btn btn-outline-secondary"
									type="button"
									id="inputOtroDocument1"
									(click)="subirArchivoOtro()"
								>
									Guardar
								</button>
								<ng-template #btnDisabled>
									<button
										class="btn btn-outline-secondary btn-block"
										type="button"
										id="inputOtroDocument2"
										disabled="true"
									>
										Guardar
									</button>
								</ng-template>
							</div>
						</div>

						<div *ngIf="newDocumento && newDocumento.name" class="progress">
							<div
								class="progress-bar progress-bar-striped bg-primary"
								role="progressbar"
								[style.width]="(uploadPercentOtro | async) + '%'"
							>
								{{ uploadPercentOtro | async | number: '1.0-0' }}%
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" (click)="cerrarModalDocumento(formAddDocumento)">
							Cerrar
						</button>
						<button
							type="submit"
							class="btn btn-primary"
							[disabled]="!formAddDocumento.form.valid || !newDocumento.urldocument"
						>
							Guardar
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
