#content{
	border-radius: 2px;
	background: white;
	box-shadow: 0px 2px 5px #ccc;
	padding: 0px;
	overflow: hidden;
}

#header{
	padding-left: 100px;
	color: white;
	margin:0px;
	height: 10%;
	line-height: 10%;
}

#header h1{
	display: block;
	line-height: 50px;
	font-weight: bold;
	font-size: 30px;
}

#nav{
	padding: 30px;
	margin: 0px;
	background: #696D64;
}

#nav ul{
	margin: 0px;
	list-style: none;
	padding-left: 20px;
}

#nav ul li{
	float:left;
	margin-right: 20px;
}

#nav ul li a{
	display: block;
	border-radius: 4px;
	color: white;
	height: 30px;
	line-height: 29px;
	padding-left: 10px;
	padding-right: 10px;
	transition: all 300ms;
}

#nav ul li a:hover{
	text-decoration: none;
	background: #8C8E8B;
}

.activado{
	text-decoration: none !important;
	border-bottom:4px solid #007BFF !important;
}

#main .jumbotron{
	padding: 50px;
	margin-top: 30px;
	border-radius: 5px;
}

#footer{
	margin-top:30px;
	padding-top: 10px;
	border-top:1px solid #eee;
	color: gray;
}

#form-solicitud label{
	margin-top: 10px;
}

.imagen_container{
	width: 100%;
	overflow: hidden;
}

.solicitud_imagen{
	/*width: 100%;*/
	height: 200px;
	margin: 0px auto;
	display: block;
}

.imagen_relleno{
	background: #ccc;
	width: 100%;
	height: 200px;
}
#img{
	margin:10px auto;
	display:block;
	width: 70px;
	height: 70px;
}
#centrado{
	text-align: center;
}
#subtitulo{
	color: gray;
}

#divLeft{
	float: left;
	width: 67%;
}
.divLeft{
	float: left;
	width: 67%;
}

#divRight{
	float: left;
	width: 30%;
	margin-left: 10px;
}

.example-margin {
  margin: 0 6px;
	color:gray;
}

/* Lo siguiente se usa para posicionar el footer al final de cada página*/
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
