<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" *ngIf="seccion == 1">Foto</a>
				<a class="nav-link" *ngIf="seccion != 1" [routerLink]="" (click)="cambiarSeccion(1)">Foto</a>
      </li>
      <li class="nav-item">
				<a class="nav-link active" *ngIf="seccion == 2">Contraseña</a>
				<a class="nav-link" *ngIf="seccion != 2" [routerLink]="" (click)="cambiarSeccion(2)">Contraseña</a>
      </li>
			<li class="nav-item">
				<a class="nav-link active" *ngIf="seccion == 3">Cuenta</a>
				<a class="nav-link" *ngIf="seccion != 3" [routerLink]="" (click)="cambiarSeccion(3)">Cuenta</a>
      </li>
    </ul>
  </div>

  <div class="card-body" *ngIf="seccion == 1">
    <div class="form-group">
      <h5>Cambiar Imagen</h5>
      <img *ngIf="urlImage | async; else imgUsuario" src="{{ urlImage | async }}" class="rounded-circle img-thumbnail" alt="profile" style="max-width: 40%; max-height: 300px;">
      <ng-template #imgUsuario>
          <img src="{{ usuario.photoUrl }}" class="rounded-circle img-thumbnail" alt="profile" style="max-width: 40%; max-height: 300px;">
      </ng-template>

      <div class="container">
        <div class="input-group mt-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile04" accept=".png, .jpg" (change)="onUpload($event)" aria-describedby="inputGroupFileAddon04">
            <label *ngIf="nameImageUp" class="custom-file-label" for="inputGroupFile04" data-browse="Elegir">{{ nameImageUp }}</label>
            <label *ngIf="!nameImageUp" class="custom-file-label" for="inputGroupFile04" data-browse="Elegir">Elija una imagen</label>
          </div>
          <div class="input-group-append">
            <button *ngIf="urlImage | async; else btnDisabled" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04" (click)="cambiarImagen()">Guardar</button>
            <ng-template #btnDisabled>
              <button class="btn btn-outline-secondary btn-block" type="button" id="inputGroupFileAddon04" disabled=true>Guardar</button>
            </ng-template>
          </div>
        </div>

        <div *ngIf="nameImageUp" class="progress">
          <div class="progress-bar progress-bar-striped bg-primary"
                role="progressbar" [style.width]="(uploadPercent | async) +'%'">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="seccion == 2">
    <h5 class="card-title">Cambiar Contraseña</h5>
  </div>

  <div class="card-body" *ngIf="seccion == 3">
    <h5 class="card-title">Desactivar cuenta</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
