<section id="profile" class="container">
  <div class="row mt-5">
    <div class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">

      <div class="row user-details">
        <div class="col-12 mt-2">
          <img src="{{ usuario.photoUrl }}" class="rounded-circle img-thumbnail" alt="profile">
          <h5>{{ usuario.nombres }}</h5>
          <p>{{ usuario.correo }}</p>

          <hr>
          <p>{{ usuario.perfil.nombre }}</p>
          <hr>
          <div *ngIf="unidad">
            <span>UAA vinculado: {{ unidad.nombre}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
