<section id="profile" class="container">

  <div *ngIf="cargando"
        class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
      <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0"> Espere por favor </p>
  </div>


  <div *ngIf="!cargando" class="row mt-5">
    <div *ngIf="usuario" class="offset-lg-4 col-lg-4 col-sm-6 col-12 main-section text-center card">
      <div class="row user-details">

        <div class="col-12 mt-2">
          <img src="{{ usuario.photoUrl }}" class="rounded-circle img-thumbnail" alt="profile">
          <h5>{{ usuario.nombres }}</h5>
          <p>{{ usuario.correo }}</p>

          <hr>
          <p>{{ usuario.perfil.nombre }}</p>
          <p>Roles</p>
          <ul class="horizontal">
            <li *ngIf="usuario.perfil.roles.verificador" class="mr-2"> <fa-icon [icon]="faUserCheck"></fa-icon> Verificador</li>
            <li *ngIf="usuario.perfil.roles.observador_general" class="mr-2"><fa-icon [icon]="faUserSecret"></fa-icon> Observador General</li>
            <li *ngIf="usuario.perfil.roles.solucionador" class="mr-2"><fa-icon [icon]="faUserNinja"></fa-icon>Solucionador</li>
            <li *ngIf="usuario.perfil.roles.modificador" class="mr-2"><fa-icon [icon]="faUsersCog"></fa-icon> Modificador</li>
            <li *ngIf="usuario.perfil.roles.agregador" class="mr-2"><fa-icon [icon]="faDatabase"></fa-icon>  Agregador</li>
            <li *ngIf="usuario.perfil.roles.creador" class="mr-2"><fa-icon [icon]="faFolderPlus"></fa-icon>Creador</li>
            <li *ngIf="usuario.perfil.roles.observador" class="mr-2"><fa-icon [icon]="faUserTie"></fa-icon> Observador</li>
            <li *ngIf="usuario.perfil.roles.interventor" class="mr-2"><fa-icon [icon]="faUserTag"></fa-icon> Interventor</li>
            <li *ngIf="usuario.perfil.roles.gestor" class="mr-2"><fa-icon [icon]="faTasks"></fa-icon>Gestor</li>
          </ul>
          <hr>
          <div *ngIf="unidad">
            <span>UAA vinculado: {{ unidad.nombre}}</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!usuario"
          class="alert alert-primary text-center animated fadeIn faster offset-lg-4 col-lg-4 col-sm-6 col-12 main-section card mt-5">
      <h4 class="alert-heading">Usuario no encontrado</h4>
      <p>
        <fa-icon [icon]="faExclamation" size="3x"></fa-icon>
      </p>
    </div>
  </div>
</section>
