<form #formRegistro="ngForm" (ngSubmit)="onSubmit()" novalidate="" class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal text-center">Registrarse</h1>

  <label for="inputNombres" class="sr-only">Nombre</label>
  <input type="text"
         #inputNombres="ngModel"
         name="inputNombres"
         [(ngModel)]="usuario.usuario_nombres"
         [ngClass]="{'is-invalid': !inputNombres.valid && inputNombres.touched}"
         id="inputNombres"
         class="form-control mt-3"
         minlength="10"
         maxlength="40"
         pattern="[A-Z a-z]+"
         placeholder="Nombre Completo" required autofocus>
  <div class="invalid-feedback" *ngIf="!inputNombres.valid && inputNombres.touched">
           Introduce un nombre valido
  </div>

  <div class="mt-2">
    <select class="form-control"
            #selectPerfil="ngModel"
            name="selectPerfil"
            [(ngModel)]="usuario.perfil_id" required>
          <option value="null" disabled>Seleccione un perfil</option>
          <option *ngFor="let perfil of perfiles"
            [value]="perfil.perfil_id"> {{ perfil.perfil_nombre }} </option>
    </select>
  </div>

  <div *ngIf="usuario.perfil_id == 2" class="mt-2">
    <select class="form-control"
            #selectUnidad="ngModel"
            name="selectUnidad"
            [(ngModel)]="usuario.unidad_id" required>
          <option value="null" disabled>Seleccione una UAA</option>
          <option *ngFor="let unidad of unidades"
            [value]="unidad.unidad_id"> {{ unidad.unidad_nombre }} </option>
    </select>
  </div>

  <div *ngIf="usuario.perfil_id == 6" class="mt-2">
    <select class="form-control"
            #selectArea="ngModel"
            name="selectArea"
            [(ngModel)]="usuario.area_id" required>
          <option value="null" disabled>Seleccione area técnica</option>
          <option *ngFor="let area of areasTecnicas"
            [value]="area.area_id"> {{ area.area_nombre }} </option>
    </select>
  </div>

  <label for="inputEmail" class="sr-only">Correo</label>
  <input type="email"
         id="inputEmail"
         #inputEmail="ngModel"
         name="correo"
         [(ngModel)]="usuario.correo"
         [ngClass]="{'is-invalid': !inputEmail.valid && inputEmail.touched}"
         class="form-control mt-2"
         pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@uis.edu.co"
         maxlength="50"
         placeholder="ejemplo@uis.edu.co" required>
  <div class="invalid-feedback" *ngIf="!inputEmail.valid && inputEmail.touched">
                  Introduce un correo valido.
  </div>

  <label for="inputPassword" class="sr-only">Contraseña</label>
  <input type="password"
         id="inputPassword"
         #inputPassword="ngModel"
         name="password"
         [(ngModel)]="usuario.password"
         [ngClass]="{'is-invalid': !inputPassword.valid && inputPassword.touched}"
         class="form-control mt-2"
         minlength="6"
         maxlength="40"
         placeholder="Contraseña" required>
  <div class="invalid-feedback" *ngIf="!inputPassword.valid && inputPassword.touched">
            Introduce al menos 6 letras.
  </div>

  <button class="btn btn-lg btn-primary btn-block mt-2" type="submit" [disabled]="!formRegistro.form.valid">CREAR CUENTA</button>

  <div class="pt-4 text-center">
    <a routerLink="/login">¿Ya tienes cuenta?</a>
  </div>
</form>
