<div *ngIf="!solicitudes">
	Cargando listado de solicitudes...
</div>
<div *ngIf="solicitudes">

	<div *ngIf="cont == 0">
		<div class="col">
			<div class="jumbotron">
				<img src="../assets/img/error.png" id="img">
				<div id="centrado">
					<p>¡No tienes solicitudes realizadas!</p>
				</div>
			</div>
		</div>

	</div>

	<div *ngIf = "cont > 0">
		<h3 id="centrado">{{titulo}}</h3>
		<hr/>

		<div *ngFor="let solicitud of solicitudes">
			<div class="card" style="width: 18rem;">
				<img src="http://localhost/proyecto-backend/uploads/mecanica.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{solicitud.nombre_edificio}}</h5>
					<p class="card-text">{{solicitud.estado}}</p>
					<div *ngIf="confirmado != solicitud.solicitud_id">
						<a [routerLink]="['/solicitud', solicitud.solicitud_id]" class="btn btn-primary">Ver</a>
						<a [routerLink]="['/editar-solicitud', solicitud.solicitud_id]" class="btn btn-primary">Editar</a>
						<a (click)="borrarConfirm(solicitud.solicitud_id)" class="btn btn-primary">Borrar</a>
					</div>
					<div class="seguro" *ngIf="confirmado == solicitud.solicitud_id">
						<a (click)="onDeleteSolicitud(solicitud.solicitud_id)" class="btn btn-md btn-danger">
							Quiero eliminarlo
						</a>
						<a (click)="cancelarConfirm()" class="btn btn-md btn-warning">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
