<h3 id="centrado">{{titulo}}</h3>
<hr/>

<div class="col-lg-10 col-lg-offset-3">

	<form #formSolicitud="ngForm" (ngSubmit)="onSubmit()" class="col-lg-6" id="form-solicitud">
		<!--<hr/>
		 <h4 id='centrado'>{{seccion}}</h4>
		<hr/> -->
		<!-- Seccion 1-->
	 <div *ngIf="seccion == 1">

		 <label>
			 UAA o entidad solicitante
			 <span *ngIf="!entidad_solicitante.valid && entidad_solicitante.touched" class="label label-danger">El campo es obligatorio</span>
		 </label>
			<input type="text" #entidad_solicitante="ngModel" name="entidad_solicitante" [(ngModel)]="solicitud.formulario['entidad_solicitante']" class="form-control" required />

			<div id="divLeft">
				<label>Fecha de solicitud (dd/mm/aa)</label>
				<input type="text" #fecha="ngModel" name="fecha" [(ngModel)]="solicitud.formulario['fecha']" class="form-control" disabled/>
			</div>

			<div id="divRight">
				<label>Hora:</label>
				<input type="text" #hora="ngModel" name="hora" [(ngModel)]="solicitud.formulario['hora']" class="form-control" disabled />
			</div>

			<label>
				Nombre del solicitante
				<span *ngIf="!nombre_solicitante.valid && nombre_solicitante.touched" class="label label-danger">El nombre es obligatorio</span>
			</label>
 			<input type="text" #nombre_solicitante="ngModel" name="nombre_solicitante" [(ngModel)]="solicitud.formulario['nombre_solicitante']" class="form-control" required />

			<label>
				Descripción del servicio solicitado
				<span *ngIf="!descripcion.valid && descripcion.touched" class="label label-danger">La descripción es obligatoria</span>
			</label>
			<textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="solicitud.formulario['descripcion']" class="form-control" required></textarea>

			<br/>
			<button class="btn btn-success col-lg-offset-10" (click) = "seccionSiguiente()" [disabled]="!formSolicitud.form.valid">
				Siguiente
			</button>

		</div>

		<!-- Seccion 2-->
		<div *ngIf="seccion == 2">
			<div id="divFecha">
 				<label>Fecha de visita (dd/mm/aa):</label>
 				<input type="date" #fecha_visita="ngModel" name="fecha_visita" [(ngModel)]="solicitud.formulario['fecha_visita']" class="form-control" required/>
 			</div>

 			<div id="divHora">
 				<label>Hora de visita:</label>
 				<input type="time" #hora_visita="ngModel" name="hora_visita" [(ngModel)]="solicitud.formulario['hora_visita']" class="form-control" required/>
 			</div>

	 		<label>
	 			Funcionario asignado a la solicitud:
	 			<span *ngIf="!funcionario_asignado.valid && funcionario_asignado.touched" class="label label-danger">El campo es obligatorio</span>
	 		</label>
	 		<input  #funcionario_asignado="ngModel" name="funcionario_asignado" [(ngModel)]="solicitud.formulario['funcionario_asignado']" class="form-control" required />

	 		<label>
	 			Funcionario que atiende la visita:
	 			<span *ngIf="!funcionario_visita.valid && funcionario_visita.touched" class="label label-danger">El campo no es obligatorio</span>
	 		</label>
	 		<input type="text" #funcionario_visita="ngModel" name="funcionario_visita" [(ngModel)]="solicitud.formulario['funcionario_visita']" class="form-control" required/>

	 		<br/>
			<div class="col-lg-10 col-lg-offset-8">
				<button class="btn btn-primary" (click) = "seccionAnterior()">Atrás</button>
				<button class="btn btn-success" (click) = "seccionSiguiente()" [disabled]="!formSolicitud.form.valid">
					Siguiente
				</button>
			</div>

	 	</div>

		<!-- Seccion 3-->
		<div *ngIf="seccion == 3">
	 	 <label>
	 		 Listado de materiales
	 		 <span *ngIf="!materiales.valid && materiales.touched" class="label label-danger">El nombre es obligatorio</span>
	 	 </label>
	 		<input type="text" #materiales="ngModel" name="materiales" [(ngModel)]="solicitud.formulario['materiales']" class="form-control" required />

			<label>Elementos de protección </label> <br>

			<mat-checkbox class="example-margin" color="primary" name="elemento1" [(ngModel)]="solicitud.formulario.elementos['Respirador']">Respirador</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="elemento2" [(ngModel)]="solicitud.formulario.elementos['Guantes']">Guantes</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="elemento3" [(ngModel)]="solicitud.formulario.elementos['TrabajoAl']">Trabajo en alturas</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="elemento4" [(ngModel)]="solicitud.formulario.elementos['Gafas']">Gafas</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="elemento5" [(ngModel)]="solicitud.formulario.elementos['Otros']">Otros</mat-checkbox>
			<br>

	 		<label>Especiales</label>
			<br>

			<mat-checkbox class="example-margin" color="primary" name="especial1" [(ngModel)]="solicitud.formulario.especial['Energia']">Corte de energía</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="especial2" [(ngModel)]="solicitud.formulario.especial['Agua']">Corte de agua</mat-checkbox>
			<mat-checkbox class="example-margin" color="primary" name="especial3" [(ngModel)]="solicitud.formulario.especial['TrabajoAl']">Otros</mat-checkbox>

			<br>


	 		<br/>
			<div class="col-lg-10 col-lg-offset-8">
				<button class="btn btn-primary" (click) = "seccionAnterior()">Atrás</button>
				<button class="btn btn-success" (click) = "seccionSiguiente()" [disabled]="!formSolicitud.form.valid">
					Siguiente
				</button>
			</div>

	 	</div>

		<!-- Seccion 4-->
		<div *ngIf="seccion == 4">

	 		<label> Observaciones(Opcional)</label>
	 		<textarea #observaciones="ngModel" name="observaciones" [(ngModel)]="solicitud.formulario['observaciones']" class="form-control"></textarea>

	 		<br/>
			<div class="col-lg-10 col-lg-offset-8">
				<button class="btn btn-primary" (click) = "seccionAnterior()">Atrás</button>
				<input type="submit" value="Enviar" [disabled]="!formSolicitud.form.valid" class="btn btn-success"/>
			</div>

	 	</div>
	</form>

</div>
