<h3>{{titulo}}</h3>
<hr/>

<div *ngIf="!productos">
	Cargando listado de solicitudes...
</div>
<div *ngIf="solicitudes">
	<div class="row">
		<div class="col-lg-3" *ngFor="let solicitud of solicitudes">
			<div class="thumbnail">
				<div *ngIf="solicitud.imagen" class="imagen_container">
					<img src="http://localhost/curso-angular4-backend/uploads/{{solicitud.imagen}}" class="solicitud_imagen"/>
				</div>
				<div *ngIf="!solicitud.imagen">
					<div class="imagen_relleno"></div>
				</div>
				<div class="caption">
					<h3>{{solicitud.nombre}}</h3>
					<p>{{solicitud.precio}} €</p>

					<div class="botones" *ngIf="confirmado != solicitud.id">
						<a [routerLink]="['/solicitud', solicitud.id]" class="btn btn-md btn-primary">Ver</a>
						<a [routerLink]="['/editar-solicitud', solicitud.id]" class="btn btn-md btn-warning">Editar</a>
						<a (click)="borrarConfirm(solicitud.id)" class="btn btn-md btn-danger">Borrar</a>
					</div>

					<div class="seguro" *ngIf="confirmado == solicitud.id">
						<a (click)="onDeleteSolicitud(solicitud.id)" class="btn btn-md btn-danger">
							Quiero eliminarlo
						</a>
						<a (click)="cancelarConfirm()" class="btn btn-md btn-warning">Cancelar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
