
<h2 class="mt-4 text-center">Listado de Usuarios</h2>
<hr>

<table *ngIf="!cargando && usuariosArray.length > 0"
       class="table mt-3 animated fadeIn faster animated fadeIn faster">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombres</th>
      <th scope="col">Correo</th>
      <th scope="col">Perfil</th>
      <th scope="col">Estado</th>
      <th scope="col">Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuariosArray; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ usuario.nombres}}</td>
      <td>{{ usuario.correo }}</td>
      <td>{{ usuario.perfil.nombre }}</td>
      <td>

        <label *ngIf="usuario.estado == 'Activado'" class="badge badge-success">Activado</label>
        <label *ngIf="usuario.estado == 'Desactivado'" class="badge badge-danger">Desactivado</label>
        <label *ngIf="usuario.estado == 'Pendiente'" class="badge badge-warning">Pendiente</label>

      </td>
      <td>

        <button class="btn btn-primary"
                (click)="borrarUsuario( usuario, i )">
          <fa-icon [icon]="faSearchPlus" title="Ver usuario"></fa-icon>
        </button>

        <button *ngIf="usuario.estado == 'Activado'"
                class="btn btn-outline-primary ml-1"
                (click)="cambiarEstado( usuario, 'Desactivado' )"> Desactivar
        </button>

        <button *ngIf="usuario.estado == 'Desactivado' || usuario.estado == 'Pendiente'"
                class="btn btn-outline-primary ml-1"
                (click)="cambiarEstado( usuario, 'Activado' )"> Activar
        </button>


      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="!cargando && usuariosArray.length === 0"
     class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
      <fa-icon [icon]="faExclamation" size="3x"></fa-icon>
    </p>
</div>

<div *ngIf="cargando"
     class="alert alert-info text-center mt-3 animated fadeIn faster">
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
