<!--Perfiles-->
<div *ngIf="!cargarPerfiles" class="container mt-4">

  <div class="row mt-2">
    <div class="col">
        <h3>Perfiles</h3>
    </div>
    <div class="col text-right">
        <button type="button" class="btn btn-primary" routerLink="/modAdmin/perfilAdmin/nuevo">
        <fa-icon [icon]="faPlus"></fa-icon>
        Nuevo
      </button>
    </div>
  </div>
  <table *ngIf="!cargarPerfiles && perfiles.length > 0"
          class="table mt-3 mb-5 animated fadeIn faster animated fadeIn faster">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>

        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let perfil of perfiles; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ perfil.nombre }}</td>
        <td class="colSize">{{ perfil.descripcion }}</td>

        <td>
          <button [routerLink]="['/modAdmin/perfilAdmin', perfil.id]"
                  class="btn btn-primary mr-1 mb-1">
            <fa-icon [icon]="faPen" title="Editar"></fa-icon>
          </button>

          <button class="btn btn-secondary"
                  (click)="borrarPerfil( perfil, i ) ">
            <fa-icon [icon]="faTrash" title="Eliminar"></fa-icon>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!cargarPerfiles && perfiles.length === 0"
        class="alert alert-primary text-center mt-3 animated fadeIn faster">
      <h4 class="alert-heading">No hay Perfiles</h4>
      <p>
          <fa-icon [icon]="faExclamation" size="2x"></fa-icon>
      </p>
  </div>
</div>


<div *ngIf="cargarPerfiles"
      class="alert alert-info text-center mt-3 animated fadeIn faster container">
  <h4 class="alert-heading">Cargando perfiles</h4>
  <p>
      <fa-icon [icon]="faSyncAlt" [spin]="true" size="2x"></fa-icon>
  </p>
  <p class="mb-0">
    Espere por favor
  </p>
</div>
